{% extends 'base.html' %}

{% block content %}
<div class="card mx-auto mt-3" style="width: 400px;">
    {% if not product.image %}
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
        aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
            dy=".3em">Thumbnail</text>
    </svg>
    {% else %}
    <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}">
    {% endif %}
    <div class="card-body">
        <h3>Название: {{ product.name }}</h3>
        <p class="card-text">Описание товара: {{ product.description }}</p>
        <small>На складе: {{ product.qty }}шт.</small>
    </div>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Действия
    </a>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div class="d-flex gap-2">
                <a href="{% url 'product-update' pk=product.pk %}"><i class="fa-solid fa-pen-to-square"
                        style="color:black;"></i></a>
                <a href="{% url 'product-delete' product.pk %}"><i class="fa-solid fa-trash" style="color:red;"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}